@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

main{
  @apply w-full max-w-6xl mx-auto;
}

.btn-brand{
  @apply btn bg-brandColor text-white hover:bg-brandColor/20 hover:text-brandColor;
}